<nav class="bg-blue-500 p-4 flex flex-col sm:flex-row justify-between items-center">
    <div class="text-white font-bold text-xl">
      <a routerLink="/">Book Network</a>
    </div>
    <ul class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-4 text-white">
      <li>
        <a [routerLink]="''" class="link font-bold hover:underline">Home</a>
      </li>
      <li>
        <a [routerLink]="'login'" class="link font-bold hover:underline">Login</a>
      </li>
      <li>
        <a [routerLink]="'register'" class="link font-bold hover:underline">Register</a>
      </li>
      <!-- <li>
        <a [routerLink]="'active-account'" class="link font-bold hover:underline">Activate-Account</a>
      </li> -->
    </ul>
  </nav>
  